<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Adicionar Produto</title>
</head>
<body>
    <h1>Adicionar produto</h1>
  <form action="form-produto" method="POST">
    <input type="text" name="nome" placeholder="Nome...">
    <input type="text" name="status" placeholder="Status...">
    <input type="text" name="destinacao" placeholder="Destinacao...">
    <input type="number" name="TaxaRentabilidadeAA" placeholder="Taxa de rentabilidade a.a...">
    <input type="number" name="prazo" placeholder="Prazo...">
    <input type="number" name="TaxaAdministracao" placeholder="Taxa de administração...">
    <input type="submit" value="Adicionar produto">
  </form>
  <hr>
</body>
</html>