<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Projeto Rosa</title>
</head>
<body>
    {{#if produtos.lenght}}
        <p>oi</p>
    {{/if}}

    <a href="form-produto">Adicionar Produto</a>
</body>
</html>