<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produto</title>
</head>
<body>
  <h1>Adicionar produto</h1>
  <form action="adicionar-Produto" method="post">
    <input type="text" name="nome" placeholder="Nome...">
    <input type="text" name="status" placeholder="Status...">
    <input type="text" name="destinacao" placeholder="Destinacao...">
    <input type="number" name="traa" placeholder="Taxa de rentabilidade a.a...">
    <input type="number" name="prazo" placeholder="Prazo...">
    <input type="number" name="ta" placeholder="Taxa de administração...">
    <input type="submit" value="Adicionar produto">
  </form>

  {{#if produtos.length }}
    <p>Quantidade de produtos: {{produtos.length}}</p>
    <table>
      <tr>
        <th>nome</th>
      </tr>
    {{#each produtos}}
      <tr>
        <td>{{nome}}</td>
      </tr>
    {{/each}}
    </table>
  {{/if}}
</body>
</html>